<section class="orders-show">
  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>
  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @order.line_items.each do |line_item| %>
          <tr>
            <td><%= image_tag(line_item.product.image.url, width: '100') %></td>
            <td><%= line_item.product.name %><br><%= line_item.product.description %></td>
            <td><%= line_item.quantity %></td>
            <td>$<%= line_item.total_price_cents / 100.00 %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan="3" class="text-right"><strong>Total:</strong></td>
          <td>$<%= @order.total_cents / 100.00 %></td>
        </tr>
        <tr>
          <td colspan="3" class="text-right"><strong>Email:</strong></td>
          <td><%= @order.email %></td>
        </tr>
      </tbody>
    </table>
  </div>
<%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>